{% extends 'scholarship/appHome.html' %}
{% load static %}

{% block main %}

        <main>
            <h3> Chevening Scholarships </h3>
            <br>
            <p> The Chevening Scholarships are part of a global programme funded by the Foreign and Commonwealth Office (FCO) in London. </p>
            <p> Chevening Scholarships have offered in Hong Kong for the first time since 1996. Since then, more than 500 people have received awards from the British Consulate-General to study at some of the finest universities and institutions in the United Kingdom. Many of our ‘Granite Pearls’ were beneficiaries of the Chevening Scholarship scheme. </p>
            <p> Globally, the Chevening Scholarships scheme offers around 1,000 awards to outstanding young professionals each year. </p>
            <br>
            <br>
            <p> For more info of the Chevening Scholarships, please find at their official website: </p>
            <ul>
                <li><a href="https://www.britishcouncil.hk/en"> https://www.britishcouncil.hk/en </a></li>
            </ul>
        </main>

{% endblock %}