{% extends 'scholarship/appHome.html' %}
{% load static %}

{% block main %}

        <main>
            <h3> Swire Educational Trust </h3>
            <br>
            <p> The Swire Educational Trust was set up in 1989 by Sir Adrian and Sir John Swire with the stated objective of “the promotion and advancement of education by all such means as may be appropriate to charitable purposes” and more specifically “furthering the education (including professional and business training) of persons attending educational establishments in the United Kingdom or overseas”. </p>
            <img src="{% static 'scholarship/images/swire_flag.jpg' %}">
            <br>
            <br>
            <p> For more info of Swire, please find at their official websites: </p>
            <ul>
                <li><a href="https://www.swire.com/en/global/home.php"> http://www.swire.com </a> </li>
                <li><a href="https://www.swirepacific.com/en/global/home.php"> https://www.swirepacific.com/ </a> </li>
            </ul>
        </main>

{% endblock %}