{% extends 'intro/appHome.html' %}
{% load static %}

{% block main %}

    <main>
        <h3> About AUHKA </h3>
        <br>
        <p> The AUHKA was set up by a group of Hong Kong Chinese and expatriate graduates from the University of Aberdeen in 1985. It was registered as a Society (in accordance with the provisions of Section 5 of the Societies Ordinance) on 24 June 1987. From the outset, rather than being simply a social club, the Association determined to make a positive contribution to Hong Kong. The most appropriate means of doing so and the most pressing need seemed to be in the field of the environment. </p>
        <p> After a considerable amount of time and effort contributed voluntarily by Association members, ‘The Aberdeen University Hong Kong Scholarship Fund’, a registered charity (which is exempt from tax under Section 88 of the Inland Revenue Ordinance), was legally incorporated on 31 August 1988. The aim of the Fund was to enable young Hong Kong graduates, who would otherwise be unable to do so, to take a post-graduate degree at Aberdeen in a subject which will be of benefit to the future of Hong Kong and for which the University has a good reputation. Given the commitment and determination of Hong Kong to combat its enormous pollution problems, Environmental Science was chosen to assist in the provision of well-trained personnel in this field. </p>
        <p> Apart from the various chairs, vice-chairs and committee members (mostly elected from returned scholars), the Association is steered by other professionals and environment enthusiasts including Dr Marshall Byres (President of the AUHKA), Prof Tony Hedley, Dr Laurence Hou and Mrs Jean Hamilton, the latter three being Advisors of the AUHKA. Other contributors to the operation and direction of the Association throughout the past years included Mr Raymond Chan (past Chairman), Mr Edward Lam (past Vice-Chairman) and Dr Garland Liu who are all graduates from the University of Aberdeen. We also pay tribute to Dr Stanley Wang, a senior member of the Association who passed away in 2008. Dr Wang was also one of the founders of the Association and the Scholarship Fund. </p>
    </main>

{% endblock %}
