{% extends 'intro/appHome.html' %}
{% load static %}

{% block main %}

    <main>
        <h3> Committee Members </h3>
        <br>
        <p> A group of dedicated Aberdeen Alumni pick up the voluntary positions to serve the Association. Below is our latest list of committee members:  </p>
        <br>
        <img src="{% static 'intro/images/committee_20152016.jpg' %}">
        <br>
        <br>
        <br>
        <h5> 2015 / 2016 </h5>
        <table>
            <tr> <th>Role</th>              <th>Name</th>               </tr>
            <tr> <td>President</td>         <td>Marshall Byres</td>     </tr>
            <tr> <td>Advisor</td>           <td>Laurence Hou</td>       </tr>
            <tr> <td>Advisor</td>           <td>Jean Hamilton</td>      </tr>
            <tr> <td>Chairman</td>          <td>Edward Lam</td>         </tr>
            <tr> <td>Vice Chairperson</td>  <td>Cammy So</td>           </tr>
        </table>
        <p style="color: #da291c"> * To be updated with the latest list. </p>
        <br>
        <br>
        <p> We welcome any of our members who has the dedication to serve the association to contact us if they would like to become a committee member. </p>
    </main>

{% endblock %}
